.TechnologyNav {
    &-nav {
        margin-block-end: 2.6rem;

        @screen md {
            margin-block-end: 4.4rem;
        }

        @screen lg {
            margin-block-end: unset;
        }

        menu {
            column-gap: 1.6rem;
        }
    }
}
