@layer components {
    .button {
        border-radius: var(--border-radius-s);
        font-style: normal;
        font-size: 1.5rem;
        font-weight: 300;
        line-height: normal;
        text-align: center;

        background-color: var(--color-red);
        color: var(--color-white);

        &:hover {
            background-color: var(--color-white);
            color: var(--color-semi-dark-blue);
        }
    }
}
