.CrewPage {
    &-main {
        margin-block-start: 7.6rem;
        margin-inline: auto;
        max-width: var(--main-element-width);
        display: flex;
        flex-direction: column;

        @screen md {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
    }

    &-left {
        order: 2;
    }

    &-heading {
        color: var(--color-white);
    }

    &-number {
        opacity: .25;
    }

    &-content {
        margin-block-start: 15.4rem;
    }

    &-title {
        opacity: 0.5042;
    }

    &-name {
        margin-block: 1.5rem 2.7rem;
    }

    &-nav {
        margin-block-start: 3.2rem;

        @screen md {
            margin-block-start: 12rem;
        }

        &--mobile {
            display: block;

            menu {
                justify-content: center;
            }

            @screen md {
                display: none;
            }
        }

        &--desktop {
            display: none;

            @screen md {
                display: block;
            }
        }
    }

    &-navItem {
        background-color: var(--color-white);
        width: 1.5rem;
        height: 1.5rem;
        border-radius: 100%;
        cursor: pointer;

        &:not(.active) {
            opacity: 0.1744;
        }

        &:hover:not(.active) {
            opacity: 0.5001;
        }
    }

    &-right {
        justify-self: self-end;

        figure {
            max-width: 177px;
            margin-inline: auto;
        }
    }

    &-text {

    }
}

body.CrewPage {
    background-image: url('/crew/background-crew-mobile.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;

    @screen md {
        background-image: url('/crew/background-crew-tablet.jpg');
    }

    @screen lg {
        background-image: url('/crew/background-crew-desktop.jpg');
    }
}
