.CrewPage {
    &-main {
        margin-inline: auto;
        max-width: var(--main-element-width);
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-block-end: 8rem;

        @screen md {
            padding-block-end: 0;
        }

        @screen lg {
            display: grid;
            grid-template-columns: 1fr 1fr;
            align-items: unset;
        }
    }

    &-left {
        order: 3;

        @screen md {
            order: unset;
        }
    }

    &-right {
        justify-self: self-end;
        border-bottom: 1px solid var(--border-color);
        width: 100%;

        @screen md {
            margin-block-start: 4rem;
            border-bottom: none;
        }
    }
}

body.CrewPage {
    background-image: url('/crew/background-crew-mobile.jpg');

    @screen md {
        background-image: url('/crew/background-crew-tablet.jpg');
    }

    @screen lg {
        background-image: url('/crew/background-crew-desktop.jpg');
    }
}
