.TechnologyContent {
    &-body {
        @apply flex-col items-center;

        @screen lg {
            @apply flex-row;
        }
    }

    &-header {
        text-align: center;

        @screen lg {
            text-align: left;
        }
    }

    &-subtitle {
        color: var(--color-blue);
        font-family: var(--font-family-barlow);
        font-size: 1.4rem;
        letter-spacing: 2.36px;
        margin-block-end: .8rem;

        @screen md {
            margin-block-end: 1.6rem;
        }

        @screen lg {
            margin-block-end: 1.2rem;
            font-size: 4rem;
        }
    }

    &-name {
        margin-block-end: 1.6rem;
        font-size: 2.4rem;

        @screen lg {
            margin-block: 1.5rem 2.7rem;
            font-size: 5.4rem;
        }
    }

    &-body {

    }
}
