.TechnologyContent {
    &-body {
        @apply flex-col items-center;

        @screen lg {
            @apply items-start;
        }
    }

    &-header {
        text-align: center;

        @screen lg {
            text-align: left;
        }
    }

    &-subtitle {
        color: var(--color-blue);
        font-family: var(--font-family-barlow);
        font-size: 1.4rem;
        letter-spacing: 2.36px;
        margin-block-end: .8rem;

        @screen md {
            margin-block-end: 1.6rem;
        }

        @screen lg {
            margin-block-end: 1.2rem;
            font-size: 1.6rem;
        }
    }

    &-name {
        margin-block-end: 1.6rem;
        font-size: var(--heading-3-size);

        @screen lg {
            margin-block: 1.5rem 2.7rem;
        }
    }
}
