.HeaderNav {
    --close-svg-top: 3.2rem;
    --mobile-nav-top: calc(6.4rem + var(--close-svg-top));

    background: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(40px);

    position: absolute;
    /*left: 100%;*/
    right: 0;
    top: -2.4rem;
    width: calc(100vw * .5);

    @screen md {
        position: relative;
        max-width: unset;
    }

    &-close {
        display: block;
        position: absolute;
        right: 3.2rem;
        top: 2.4rem;

        @screen md {
            display: none;
        }
    }

    ul {
        padding-inline-start: 3.2rem;
        margin-block-start: var(--mobile-nav-top);

        @screen md {
            padding-inline-start: 0;

        }
    }

    .NavText {
        @screen md {
            &:first-of-type {
                margin-inline-start: 12.3rem;
            }
        }

        a {
            padding-block: 35px;
            display: block;

            @screen md {
                &.active {
                    border-bottom: 3px solid var(--color-white);
                }

                &:hover:not(.active) {
                    border-bottom: 3px solid var(--color-white-light);
                }
            }
        }

        &-number {
            font-weight: 700;
        }
    }
}
