.HeaderNav {
    --mobile-nav-height: 100vh; /* default */

    background: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(40px);
    position: absolute;
    right: -100%;
    top: 0;
    transition: right .25s linear;
    overflow-x: hidden;
    height: var(--mobile-nav-height);
    width: 0;

    @screen md {
        position: relative;
        width: 70vw;
        right: 0;
        height: auto;
    }

    /* Handle states */
    &-isOpen {
        right: 0;
        width: calc(100vw * .75);
        transition: right .25s linear;
    }

    &-close {
        display: block;
        position: absolute;
        right: 2.4rem;
        top: 3.4rem;

        @screen md {
            display: none;
        }
    }

    ul {
        --close-svg-top: 3.2rem;
        --mobile-nav-top: calc(6.4rem + var(--close-svg-top));

        padding-inline-start: 3.2rem;
        margin-block-start: var(--mobile-nav-top);

        @screen md {
            --mobile-nav-top: 0;
            padding-inline-start: 0;
            justify-content: space-around;
        }

        @screen lg {
            @apply gap-[50px];
        }
    }

    .NavText {
        @screen md {
            &:first-of-type {
                margin-inline-start: 2.4rem;
            }
        }

        @screen lg {
            &:first-of-type {
                margin-inline-start: 12.3rem;
            }
        }

        a {
            padding-block: 35px;
            display: block;

            @screen md {
                &.active {
                    border-bottom: 3px solid var(--color-white);
                }

                &:hover:not(.active) {
                    border-bottom: 3px solid var(--color-white-light);
                }
            }
        }

        &-number {
            font-weight: 700;

            @screen md {
                display: none;
            }

            @screen lg {
                display: inline-block;
            }
        }
    }
}
