.TechnologyPage {
    &-main {
        display: flex;
        flex-direction: column;
        margin-inline: auto;
        width: 100vw;
        max-width: var(--main-max-element-width);
        position: relative;
        padding-block-end: 8rem;

        @screen lg {
            display: grid;
            grid-template-columns: minmax(max-content, 630px) minmax(max-content, 545px);
            column-gap: 5rem;
            padding-block-end: 11.8rem;
            max-width: 95%;
        }

        @screen xl {
            grid-template-columns: 620px 545px;
            column-gap: 10rem;
            max-width: 1265px;
        }
    }

    &-left {
        order: 2;

        @screen lg {
            order: unset;
        }
    }

    &-right {
        margin-block-end: 3.2rem;

        @screen md {
            margin-block-end: 5.6rem;
        }

        @screen lg {
            width: 100%;
            margin-inline-start: 0;
            margin-block-start: 6rem;
        }
    }

    &-content {
        @apply flex-col items-center;
        column-gap: 8rem;

        @screen lg {
            @apply flex-row gap-[36px];
        }
    }
}

body.TechnologyPage {
    background-image: url('/technology/background-technology-mobile.jpg');

    @screen md {
        background-image: url('/technology/background-technology-tablet.jpg');
    }

    @screen lg {
        background-image: url('/technology/background-technology-desktop.jpg');
    }
}
