.TechnologyPage {
    &-main {
        display: flex;
        flex-direction: column;
        margin-inline: auto;
        width: 100vw;
        max-width: var(--main-max-element-width);
        position: relative;
        padding-block-end: 8rem;

        @screen lg {
            display: grid;
            grid-template-columns: minmax(auto, 630px) minmax(auto, 682px);
            justify-content: center;
            column-gap: 5rem;
            padding-block-end: 11.8rem;
            max-width: 95%;
        }

        @screen xl {
            column-gap: 0;
            max-width: 1265px;
            justify-content: end;
            width: auto;
        }

        .PageHeader--mobile {
            @screen md {
                margin-inline-start: 3.8rem;
            }
        }
    }

    &-left {
        order: 2;

        @screen lg {
            order: unset;
        }
    }

    &-right {
        margin-block-end: 3.2rem;

        @screen md {
            margin-block-end: 5.6rem;
        }

        @screen lg {
            width: 100%;
            margin-inline-start: 0;
            margin-block-start: 6rem;
            margin-block-end: 0;
        }

        @screen xl {
            margin-block: 0;
            height: 527px;
        }
    }

    &-content {
        @apply flex-col items-center;
        column-gap: 8rem;

        @screen lg {
            @apply flex-row gap-[36px];
        }
    }
}

body.TechnologyPage {
    background-image: url('/technology/background-technology-mobile.jpg');

    @screen md {
        background-image: url('/technology/background-technology-tablet.jpg');
    }

    @screen lg {
        background-image: url('/technology/background-technology-desktop.jpg');
    }
}
