.HomePage {
    &-main {
        display: grid;
        grid-template-rows: auto auto;
        grid-gap: 2.4rem;
        margin-block-start: 4.8rem;
        max-width: var(--main-max-element-width);
        width: var(--main-element-width);
        margin-inline: auto;
        padding-block-end: 2.4rem;

        @screen md {
            margin-block-start: 8rem;
            grid-row-gap: 10rem;
        }

        @screen lg {
            grid-template-columns: minmax(auto, 1fr) minmax(auto, 1fr);
            grid-template-rows: 1fr;
            margin-block-start: 25rem;
            padding-block-end: 0;
            grid-gap: 0;
        }

        @screen xl {
            grid-template-columns: minmax(auto, 2fr) minmax(auto, 1fr);
        }
    }

    &-left {
        text-align: center;

        @screen lg {
            text-align: left;
        }

        p {
            max-width: 444px;
        }
    }

    &-subtitle {
        font-size: 1.6rem;

        @screen md {
            font-size: 2rem;
        }

        @screen lg {
            font-size: var(--heading-5-size);
        }
    }

    &-title {
        font-size: 80px;
        padding-block: 1.6rem;

        @screen md {
            font-size: var(--heading-1-size);
        }

        @screen lg {
            padding-block: 2.4rem;
        }
    }

    &-body {
        font-size: var(--body-size);
        margin-inline: auto;

        @screen lg {
            margin-inline: 0;
        }
    }

    &-right {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        height: 225px;

        @screen md {
            height: 274px;
        }

        @screen lg {
            align-self: end;
        }

        h1 {
            margin-block: 2.4rem;
        }
    }
}

body.HomePage {
    background-image: url('/home/background-home-mobile.jpg');

    @screen md {
        background-image: url('/home/background-home-tablet.jpg');
    }

    @screen lg {
        background-image: url('/home/background-home-desktop.jpg');
    }
}
