.CrewImage {
    &-figure {
        margin-inline: auto;
        width: 100%;
        height: 40vh;

        @screen md {
            height: 50vh;
        }

        @screen xl {
            height: 100%;
        }
    }

    &-img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: bottom;
    }
}
