.SidebarIcons {
    display: flex;

    @screen xl {
        flex-direction: column;
        row-gap: 4rem;
        margin-block: 7.4rem auto;
    }

    &-icon {
        &:hover {
            svg,
            path {
                fill: var(--color-red);
            }
        }
    }
}
