.SidebarIcons {
    display: flex;
    column-gap: 2.4rem;

    @screen md {
        row-gap: 3.2rem;
    }

    @screen xl {
        flex-direction: column;
        row-gap: 4rem;
        margin-block: 7.4rem auto;
    }

    &-icon {
        svg {
            width: 1.6rem;
            height: 1.6rem;

            @screen md {
                width: 2rem;
                height: 2rem;
            }
        }

        &:hover {
            svg,
            path {
                fill: var(--color-red);
            }
        }

        &.isActive {
            path {
                fill: white;
            }
        }
    }
}
