.DestinationImage {
    &-figure {
        margin: 3.2rem auto 0;
        max-width: 170px;
        max-height: 170px;

        @screen md {
            max-width: 300px;
            max-height: 300px;
            margin-block-start: 9.7rem;
        }
    }

    &-image {
        margin-inline-start: auto;
    }
}
