.DestinationPage {
    &-main {
        display: grid;
        grid-template-rows: auto auto;
        margin-block-start: .8rem;
        max-width: var(--main-max-element-width);
        width: var(--main-element-width);
        margin-inline: auto;

        @screen md {
            grid-template-columns: 1fr;
        }

        @screen lg {
            grid-template-columns: 1fr 1fr;
            margin-inline: auto;
            padding-block-end: 11.8rem;
        }
    }

    &-left {
        text-align: center;

        @screen md {
            text-align: left;
        }

        p {
            max-width: 444px;
        }
    }

    &-right {
        display: flex;
        flex-direction: column;
        margin-block-start: 6.4rem;
        align-items: center;

        @screen md {
            justify-content: center;
            justify-self: center;
        }

        @screen lg {
            justify-self: end;
            justify-content: flex-start;
            align-items: flex-start;
        }

        nav {
            menu {

            }
        }

        h1 {
            margin-block: 2.4rem;
            font-size: 5.6rem;

            @screen md {
                font-size: 8rem;
            }

            @screen lg {
                font-size: var(--heading-2-size);
                margin-block: 3.2rem 2.4rem;
            }
        }

        article {
            display: flex;
            flex-direction: column;
            align-items: center;

            @screen lg {
                align-items: flex-start;
            }
        }
    }

    &-navItem {
        padding-block-end: 1.2rem;
        --nav-size: 1.4rem;

        &:hover:not(&.active) {
            cursor: pointer;
            border-bottom: 3px solid var(--color-white-light);
        }

        &:not(&.active) {
            color: var(--color-blue);
        }

        @screen md {
            --nav-size: 1.6rem;
        }

        &.active {
            border-bottom: 3px solid var(--color-white);
        }
    }
}

body.DestinationPage {
    background-image: url('/destination/background-destination-mobile.jpg');

    @screen md {
        background-image: url('/destination/background-destination-tablet.jpg');
    }

    @screen lg {
        background-image: url('/destination/background-destination-desktop.jpg');
    }
}
