@layer base {
    :root {
        --border-radius-xl: 2rem;
        --border-radius-l: 1rem;
        --border-radius-s: 1rem;
        --border-radius-xs: .6rem;

        --transiton-r: all .4s linear;
    }
}
