.Bookmark {
    position: absolute;
    top: .8rem;
    right: .8rem;
    cursor: pointer;
    z-index: 20;

    @screen xl {
        top: 1.6rem;
        right: 1.6rem;
    }

    &:hover {
        circle,
        path {
            transition: all .5s linear;
        }

        circle {
            fill: var(--color-white);
            opacity: 1;
        }

        path {
            stroke: var(--color-dark-blue);
        }
    }

    svg {
        &.isBookmarked {
            circle,
            path {
                transition: none;
            }

            circle {
                fill: var(--color-dark-blue);
                opacity: 0.500647;
            }

            path {
                fill: var(--color-white);
                stroke: var(--color-white);
            }
        }
    }

    circle,
    path {
        transition: all .5s linear;
    }
}
