.Search {
    order: 2;
    height: 2.4rem;
    margin-block-start: 2.4rem;
    max-width: 100vw;
    padding-inline: 1.6rem;

    @screen md {
        padding-inline: 2.4rem;
    }

    @screen xl {
        grid-column-start: 2;
        grid-column-end: 12;
        grid-row-start: 1;
        grid-row-end: 1;
        width: 100%;
        height: 4.7rem;
        margin-block-start: 3.2rem;
        padding-inline: unset;
    }

    form {
        height: 100%;
        display: flex;
        align-items: center;
        column-gap: 2.4rem;

        label,
        input {
            display: block;
            width: 100%;
            height: 100%;
            background: transparent;
            color: var(--color-white);

            &:focus-visible,
            &:focus-within,
            &:focus {
                outline: none;
            }
        }

        input {
            &::placeholder {
                opacity: 0.4979;
            }

            &:focus {
                border-bottom: 1px solid var(--color-grey-blue);
            }
        }
    }

    &-icon {
        background-image: url('/assets/icon-search.svg');
        background-size: cover;
        display: block;
        width: 2.4rem;
        height: 2.4rem;

        @screen md {
            width: 3.2rem;
            height: 3.2rem;
        }
    }
}
