@layer utilities {
    .container {
        --max-with-l: 1440px;

        width: calc(var(--max-with-l) - calc(3.2rem * 2));
        display: grid;
        grid-template-columns: repeat(11, minmax(auto, 1fr));
        grid-column-gap: 3.6rem;
        grid-row-gap: 3.6rem;
        margin: 3.2rem auto 5.4rem;
    }

    .isVisible {
        opacity: 1;
        visibility: visible;
        transition: var(--transiton-r);
    }

    .isInvisible {
        opacity: 0;
        visibility: hidden;
        transition: var(--transiton-r);
    }

    .isLoading {
        background: #80899d;
        position: absolute;
        inset: 0;
        border-radius: var(--border-radius-s);
        animation: loading 2s ease-in-out infinite alternate;

        @keyframes loading {
            0% {
                opacity: .75;
            }

            100% {
                opacity: .25;
            }
        }
    }

    .Content {
        @screen xl {
            grid-column-start: 2;
            grid-column-end: 12;
            grid-row-start: 2;
            grid-row-end: 12;
        }

        &-header {
            margin-block-end: 3.2rem;
        }
    }

    .ItemContent {
        @screen xl {
            display: grid;
            grid-template-columns: repeat(4, minmax(auto, 1fr));
            column-gap: 4rem;
            row-gap: 3.2rem;
        }
    }

    .AuthPoint {
        opacity: 0;
        visibility: hidden;
        display: none;
        transition: var(--transiton-r);

        &.isVisible {
            display: grid;
            opacity: 1;
            visibility: visible;
            height: 100%;
            transition: var(--transiton-r);
        }
    }
}
