@layer utilities {
    .container {
        --max-with-l: 1440px;

        display: flex;
        flex-direction: column;
        margin: 0 auto 5.4rem;
        width: 100%;

        @screen xl {
            display: grid;
            grid-template-columns: repeat(11, minmax(auto, 1fr));
            grid-template-rows: 8rem auto;
            grid-column-gap: 3.6rem;
            grid-row-gap: 3.6rem;
            width: calc(var(--max-with-l) - calc(3.2rem * 2));
            margin: 3.2rem auto 5.4rem;
        }
    }

    .isVisible {
        opacity: 1;
        visibility: visible;
        transition: var(--transiton-r);
    }

    .isInvisible {
        opacity: 0;
        visibility: hidden;
        transition: var(--transiton-r);
    }

    .isLoading {
        background: #80899d;
        position: absolute;
        inset: 0;
        border-radius: var(--border-radius-s);
        animation: loading 2s ease-in-out infinite alternate;

        @keyframes loading {
            0% {
                opacity: .75;
            }

            100% {
                opacity: .25;
            }
        }
    }

    .Content {
        padding-inline: 1.6rem;

        @screen xl {
            grid-column-start: 2;
            grid-column-end: 12;
            grid-row-start: 2;
            grid-row-end: 12;
            padding-inline: 0;
        }

        &-header {
            margin-block-end: 2.4rem;

            @screen xl {
                margin-block-end: 3.2rem;
            }
        }
    }

    .ItemContent {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1.6rem;

        @screen xl {
            grid-template-columns: repeat(4, minmax(auto, 1fr));
            column-gap: 4rem;
            row-gap: 3.2rem;
        }
    }

    /*.AuthPoint {*/
    /*    opacity: 0;*/
    /*    visibility: hidden;*/
    /*    display: none;*/
    /*    transition: var(--transiton-r);*/

    /*    &.isVisible {*/
    /*        display: grid;*/
    /*        opacity: 1;*/
    /*        visibility: visible;*/
    /*        height: 100%;*/
    /*        transition: var(--transiton-r);*/
    /*    }*/
    /*}*/
}
