@layer utilities {
    .container {
        --max-with-l: 1440px;

        width: calc(var(--max-with-l) - calc(3.2rem * 2));
        display: grid;
        grid-template-columns: repeat(11, minmax(auto, 1fr));
        /*grid-template-rows: auto*/
        grid-column-gap: 3.6rem;
        grid-row-gap: 3.6rem;
        margin: 3.2rem auto 0;
    }

    .isVisible {
        opacity: 1;
        visibility: visible;
        transition: var(--transiton-r);
    }

    .isInvisible {
        opacity: 0;
        visibility: hidden;
        transition: var(--transiton-r);
    }

    .Content {
        @screen xl {
            grid-column-start: 2;
            grid-column-end: 12;
            grid-row-start: 2;
            grid-row-end: 12;
        }

        &-header {
            margin-block-end: 3.2rem;
        }
    }

    .ItemContent {
        @screen xl {
            display: grid;
            grid-template-columns: repeat(4, minmax(auto, 1fr));
            column-gap: 4rem;
            row-gap: 3.2rem;
        }
    }


}
