.TechnologyImage {
    &-figure {
        height: 100%;
        width: 100vw;

        @screen lg {
            width: 100%;
        }
    }

    &-image {
        object-fit: cover;
        object-position: center;
        width: 100%;
        height: 100%;
        max-width: 100%;
        max-height: 40vh;

        @screen md {
            max-height: 30vh;
        }

        @screen lg {
            max-height: unset;
        }
    }
}
