.TechnologyImage {
    &-backgroundImage {
        width: 100%;
        background-repeat: no-repeat;


        &--mobile {
            max-width: 100%;
            height: 40vh;
            background-size: cover;
            background-position: center center;

            @screen md {
                height: 45vh;
            }

            @screen lg {
                display: none;
            }
        }

        &--desktop {
            background-position: center right;
            margin-block-start: 4rem;
            background-size: contain;
            display: none;
            height: 100%;

            @screen lg {
                display: block;
            }
        }
    }
}
