.CrewNav {
    &-nav {
        margin-block-start: 3.2rem;

        @screen md {
            margin-block-start: 4rem;
        }

        @screen lg {
            margin-block-start: 12rem;
        }

        &--mobile {
            display: block;
            order: 2;

            menu {
                justify-content: center;
                @apply gap-[16px];
            }

            @screen md {
                display: none;
            }
        }

        &--desktop {
            display: none;

            menu {
                @apply gap-[16px];
                justify-content: center;
            }

            @screen md {
                display: block;
            }

            @screen lg {
                menu {
                    @apply gap-[36px];
                }
            }
        }
    }

    &-navItem {
        background-color: var(--color-white);
        width: 1.5rem;
        height: 1.5rem;
        border-radius: 100%;
        cursor: pointer;

        &:not(.active) {
            opacity: 0.1744;
        }

        &:hover:not(.active) {
            opacity: 0.5001;
        }
    }
}
