.DestinationContent {
    &-body {
        border-bottom: 1px solid var(--border-color);
        padding-block-end: 5.4rem;
    }

    &-data {
        gap: 3.2rem;
        text-align: center;
        padding-block-start: 3rem;

        @screen md {
            gap: 7.9rem;
        }

        @screen lg {
            text-align: left;
            padding-block-start: 2.8rem;
        }

        h4 {
            font-family: var(--font-family-barlow);
            color: var(--color-blue);
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            letter-spacing: 2px;
            text-transform: uppercase;
        }

        p {
            margin-block-start: 1.2rem;
        }
    }

    &-distance {
    }

    &-travel {
        padding-block-end: 5rem;
    }
}
